<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
      <title th:text="#{app.title}"> Title </title>
      <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body style="background-color:grey;">
   <h1 align="center" th:text="#{app.serviceDetails}">Details</h1>
    <form action="#" th:action="@{/app/buildJobs}" th:object="${parameter}" method="POST">
    <table>
        <tr>
           <th style="font-size:30px;text-align:center;background-color:#1abc9c;margin:4rem" th:text="#{parameter.run}"/></th>
           <th style="font-size:30px;text-align:center;background-color:#1abc9c;margin:4rem" th:text="#{parameter.LatestRunReport}"></th>
          
        </tr>
        <tr th:each="parameter : ${allService}">
	      
		  <td><input style="font-size:20px;" type="submit" th:value="#{parameter.run}"/>
		  </td>
		  <td>
		<a href="#" style="font-size:30px;text-align:center;background-color:#1abc9c;margin:4rem" th:href="@{/app/ServiceData}" th:text="#{parameter.LatestRunReport}">LatestReport</a>
		  </td>		  		  
	    </tr>	
	</table>
	</form>

</body>
</html>   